body {
  background: #ffece5;
  font-family: verdana;
  margin: 0 auto;
}
.new-user {
  background: #fff;
  padding: 20px 40px;
  max-width: 300px;
  margin: 0 auto;
}

label,
input {
  display: block;
  margin: 0;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
input[type="submit"] {
  margin: 24px auto;
  font-size: 18px;
  background: coral;
  color: #fff;
  padding: 6px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.error {
  color: coral;
}

a,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
}

.nav-item {
  font-size: 20px;
  border: 2px solid steelblue;
  padding: 10px;
}

.logout {
  border: 2px solid steelblue;
  padding: 5px;
  width: 100px;
}

.header {
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: teal;
  height: 100px;
}

.footer {
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: teal;
  height: 50px;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 10px;
}

.main {
  background-color: steelblue;
  height: 800px;
  font-size: 17px;
}

button {
  background-color: steelblue;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: steelblue;
  border: 1px solid teal;
  color: white;
}

h2 {
  margin: 0;
}
